
1. Write a program that checks whether the number entered by user is:

positive

negative

or zero

In [ ]:
a = float(input("Enter a number: "))
if (a > 0):
   print("The Number is Positive")
elif (a < 0):
   print("The Number is Negative")
else:
   print("The Number is Zero")

Enter a number: 0
The Number is Zero

ðŸ‘‰ Task 2

Make a program that:

takes age as input

prints "You can vote" if age â‰¥ 18

otherwise prints "You are not eligible to vote"

In [ ]:
age = int(input("Enter your age: "))
if (age >= 18):
   print("You can vote")
else:
   print("You are not eligible to vote")

Enter your age: 5
You are not eligible to vote

ðŸ‘‰ Task 3

Write a for loop that prints numbers from 1 to 10.

In [ ]:
for i in range(1,11):
   print(i)

1
2
3
4
5
6
7
8
9
10

ðŸ’¡ Example: Sum of first N numbers

In [ ]:
n = int(input("Enter a number: "))
sum = 0
for i in range(1, n+1):
    sum += i
print("Sum =", sum)

Enter a number: 5
Sum = 15

In [ ]:
count = 1
while count <= 5:
    print("Python is fun!", count)
    count += 1

Python is fun! 1
Python is fun! 2
Python is fun! 3
Python is fun! 4
Python is fun! 5

ðŸ‘‰ Task 5

Use break in a loop to stop when the number equals 7.

In [ ]:
for i in range(1,10):
    if i == 7:
       break
    print(i)

1
2
3
4
5
6

ðŸ‘‰ Task 6 (Challenge)

Print the following pattern:

*****
****
***
**
*"


(Hint: Use reverse range â†’ range(n, 0, -1))

In [ ]:
n = 5
for i in range(n, 0, -1):
   print("*"*i)

*****
****
***
**
*

ðŸŽ¯ Homework / Practice

Write a program to find the largest of three numbers.

Print all even numbers between 1â€“50.

Find the factorial of a number using a loop.

Create a simple countdown timer from 10 to 1.

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

Enter first number: 25
Enter second number: 5
Enter third number: 23
The largest number is 25.0

In [ ]:
for i in range(1, 51):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
num = int(input("Enter a non-negative integer: "))

if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    factorial = 1
    for i in range(1, num + 1):
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

Enter a non-negative integer: 5
The factorial of 5 is 120

In [ ]:
import time

count = 10
while count >= 1:
    print(count)
    time.sleep(1) # Pause for 1 second
    count -= 1
print("Blast off!")

10
9
8
7
6
5
4
3
2
1
Blast off!

ðŸ§® 6. Practice Tasks (Do on Google Colab)

1ï¸âƒ£ Write a function to check if a number is even or odd.

2ï¸âƒ£ Create a list of 10 numbers â†’ print only numbers divisible by 3.

3ï¸âƒ£ Write a program that takes marks and returns grade (A/B/C).

4ï¸âƒ£ Bonus: Create a function calculate_salary() that adds bonus if experience > 3 years.

In [2]:
def even_odd(num):
   if (num % 2 == 0):
      print("The number is even")
   else:
      print("The number is odd")

In [3]:
even_odd(25)

The number is odd

In [4]:
even_odd(10)

The number is even

In [14]:
numbers = list(range(1, 11)) # Create a list of 10 numbers (1 to 10)
print("Numbers divisible by 3:")
for num in numbers:
    if num % 3 == 0:
        print(num)

Numbers divisible by 3:
3
6
9

In [15]:
import random

random_numbers = [random.randint(1, 100) for _ in range(10)] # Generate 10 random numbers between 1 and 100
print("Generated random numbers:", random_numbers)
print("Numbers divisible by 3:")
for num in random_numbers:
    if num % 3 == 0:
        print(num)

Generated random numbers: [95, 54, 96, 17, 65, 57, 66, 56, 70, 18]
Numbers divisible by 3:
54
96
57
66
18

In [16]:
marks = float(input("Enter the marks: "))

if marks >= 90:
    grade = 'A'
elif marks >= 70:
    grade = 'B'
elif marks >= 50:
    grade = 'C'
else:
    grade = 'F'

print("The grade is:", grade)

Enter the marks: 90
The grade is: A

In [17]:
def calculate_salary(base_salary, experience_years):
    bonus_percentage = 0.10 # 10% bonus
    if experience_years > 3:
        total_salary = base_salary * (1 + bonus_percentage)
        print(f"Experience: {experience_years} years. Bonus applied.")
    else:
        total_salary = base_salary
        print(f"Experience: {experience_years} years. No bonus applied.")
    return total_salary

# Example usage:
print("Salary for 5 years experience:", calculate_salary(50000, 5))
print("Salary for 2 years experience:", calculate_salary(50000, 2))

Experience: 5 years. Bonus applied.
Salary for 5 years experience: 55000.00000000001
Experience: 2 years. No bonus applied.
Salary for 2 years experience: 50000